<!--
 Semantic Web Project
 Name: Daan Siepelinga & Julien Benistant
 Student id: 2584178 & 2543043
 Date: TODO add date at end of project
 
 This file contains the html structure of the application.
-->

<!DOCTYPE html>
<html>
    <head>
        <title>Semantic Web Project</title>
        
        <script src='{{ url_for("static", filename="js/jquery-1.11.0.min.js") }}' type='text/javascript'></script>
		<script src='{{ url_for("static", filename="js/json_convert.js") }}' type='text/javascript'></script>
    </head>
    <body>
        <p>
            Work in progress.
            <input id='json_test_button' type='button' value='Show json values' />
        </p>
        <div id='result'>
            
        </div>
    </body>
</html>
